.fake/
.vs/
obj/
bin/
packages/
paket-files/
node_modules/
src/Client/public/js/
src/TopshelfCore/Publish/
release.cmd
release.sh
.idea/
*.DotSettings.user
deploy
*.ncrunchsolution.user
_NCrunch_*/
deploy.zip
nCrunchTemp_*
*.fsproj.user
Publish.zip
test/ServerTests/ServerTests.v3.ncrunchproject.user
src/Server/Payroll/RhumbixTimeData*.csv
src/VistaDrop/
